<% flash.each do |message_type, message_content| %>
  <div class="col-10 mx-auto mt-2 alert alert-<%= message_type == "alert" ? "danger" : "success" %> alert-dismissible fade show" role="alert">
    <p class="m-0"><%= message_content %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
